body
  font-size 16px
.botones
  background #19B5FE
  border-bottom-left-radius 10px
  border-bottom-right-radius 10px
  padding 0.5em 0em
  margin 0em auto
  width 50%
  text-align center
.boton
  // background #19B5FE
  padding 0.5em 0.8em
  &:first-child
    border-bottom-left-radius 10px
  &:last-child
    border-bottom-right-radius 10px
  &:hover
    background #2C3E50
.proceso
  color white
  max-width 400px
  position relative
  margin 1em
.tiempo
  background #2C3E50
  font-size 2.5em
  text-align center
  padding 0.5em
.wrap
  width 100%
